body {
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  width: 30px;
  height: 30px;
}

ul li {
  list-style: none;
}

/* Parent Container*/
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

/*Sidebar Start*/
.sidebar {
  display: grid;
  grid-template-rows: 2fr 3fr;
  background-color: #1992d4;
  grid-row: 1/4;
  padding: 35px;
}

.sidebar-list,
.user-settings-list {
  display: grid;
  gap: 10px;
}

.user-settings-list {
  margin-top: 4em;
}

.sidebar-container {
  display: grid;
}

ul li,
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 25px;
}

.logo {
  font-size: 2em;
  gap: 5px;
  margin-bottom: 1em;
}

.logo img {
  width: 50px;
  height: 50px;
}

div img {
  width: 40px;
  height: 40px;
}

/*Sidebar End*/

/*Header Start*/
.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.search-icon-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row: 1/3;
  grid-column: 1/2;
  padding-left: 50px;
}

.user-info {
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: black;
  font-size: 20px;
  padding: 20px;
  flex-flow: wrap;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.searchBar {
  width: 100%;
  height: 50%;
  border-radius: 30px;
  background-color: #e2e8f0;
}

.user-details-actions-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.user-actions,
.user-details {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-self: end;
  padding-right: 50px;
  background-color: white;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-menu {
  align-items: center;
}

button {
  border: none;
  button-style: none;
  background-color: #1992d4;
  color: white;
  width: 9rem;
  height: 3rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: black;
  font-size: 24px;
}

.user-info img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.user-icon img {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

/*Header End*/

/* Parent Container for Main section*/
.grid-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 8fr;
  background-color: #e2e8f0;
  color: black;
}

.projects-title,
.announcement-title {
  margin: 15px;
  align-self: end;
}

.title {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.card {
  display: grid;
  background-color: #ffffff;
  color: black;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  border-left: 10px #f0b42a solid;
}

.cards-grid {
  display: grid;
  background-color: purple;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-row: 2/3;
}

.icons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.right-sidebar {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 15px;
  background-color: yellow;
}
