body {
  color: red;
  margin: 0;
  padding: 0;
}

img {
  width: 20px;
  height: 20px;
}

ul > li {
  list-style: none;
  display: flex;
  gap: 10px;
}

/* Parent Container*/
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/*Sidebar Start*/
.sidebar {
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: pink;
  grid-row: 1/3;
}

.sidebar-list {
  display: grid;
  gap: 10px;
}

.user-settings-list {
  display: grid;
  gap: 10px;
}

/*Sidebar End*/

.header {
  background-color: blue;
}

/* Parent Container for Main section*/
.grid-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
