body {
  color: red;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

img {
  width: 20px;
  height: 20px;
}

.yachiRoYa {
  width: 80px;
  height: 80px;
}

ul > li {
  list-style: none;
  display: flex;
  gap: 10px;
}

/* Parent Container*/
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/*Sidebar Start*/
.sidebar {
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: pink;
  grid-row: 1/3;
}

.sidebar-list {
  display: grid;
  gap: 10px;
}

.user-settings-list {
  display: grid;
  gap: 10px;
}

/*Sidebar End*/

/*Header Start*/
.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: red;
}

.navigation {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-content: center;
  grid-column: 1/3;
}

.user-details {
  display: flex;
  gap: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

/*Parent container for user info and actions*/
.user-menu {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-row: 2/3;
  grid-column: 1/3;
  background-color: blue;
  align-items: center;
}

.user-actions {
  display: flex;
  gap: 15px;
}

.user-info {
  display: flex;
}

.searchBar {
  display: flex;
  gap: 10px;
}

/*Header End*/

/* Parent Container for Main section*/
.grid-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: black;
}

.title {
  grid-column: 1/3;
  grid-row: 1/2;
}

.cards-grid {
  display: grid;
  background-color: purple;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}
